.select {
    padding: 5px;
    color: white;
    text-transform: capitalize;
    height: 38px;
    background-color: slategrey;
    border: 5px double lightgreen;
    width: 120px;
    border-radius: 25px;
    font-size: medium;
    cursor: pointer;

  }
  select:hover {
    color: gold;
  }

  select:focus {
    outline: none;
  }
