.dot {
    position: relative;
    color: red;
    font-size: larger;
    font-weight: 800;
    z-index: 10;

}

.map {
    position: static;
    text-align: center;
    align-items: center;
    margin: 10px auto;
    font-size: 7.1em;
    width: 300px;
    /* filter: drop-shadow(10px 5px 2px darkgrey); */
    text-shadow: -1px 0 lightgreen, 0 1px indigo, 1px 0 lightgreen, 0 -1px lightgreen;
    color: lightskyblue;
    z-index: 0;
    backdrop-filter: blur(8px);
    border: 3px solid lightgreen;
}

.en {
    bottom: 165px;
}

.he {
    bottom: 140px;
    left: 45px
}

.ja {
    bottom: 120px;
    left: 95px
}

.de {
    bottom: 160px;
    left: 15px;
}