.dot {
    position: relative;
    color: red;
    z-index: 10;
    text-shadow: 1px 1px solid black;
    font-size: small;

}

.map {
    position: static;
    text-align: center;
    align-items: center;
    margin: 5px auto;
    font-size: 7.1em;
    width: 300px;
    height: auto;
    text-shadow: -1px 0 lightgreen, 0 1px indigo, 1px 0 lightgreen, 0 -1px lightgreen;
    color: lightskyblue;
    z-index: 0;
    backdrop-filter: blur(8px);
    border: 3px solid lightgreen;
    border-radius: 2%;
}

.en {
    bottom: 140px;
    right: 0px
}

.iw {
    bottom: 120px;
    left: 45px
}

.ja {
    bottom: 120px;
    left: 90px
}

.de {
    bottom: 140px;
    left: 15px;
}