.App {
  padding: 20px;
  text-align: center;
  color: black;
  font-size: x-large;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.631), rgba(0, 255, 183, 0.527)), url("../public/wallpaper.png");
  background-repeat: repeat;
  overflow-x: hidden;
  min-height: 600px;
  user-select: none;
}

.lorem {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-variant-ligatures: common-ligatures;
  color: white;
  margin: auto;
  backdrop-filter: blur(8px) saturate(150%);
  width: 400px;
  border: 5px inset transparent;
  border-image: linear-gradient(to right,lightcoral ,lightgreen) 1;
  letter-spacing: 2px;
  text-transform: capitalize;
  cursor: pointer;
}

[data-title] {
  position: relative;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: aquamarine;
  color: #111;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 0px;
  position: absolute;
  padding: 1px 5px 2px 5px;
  bottom: -1.6em;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  border: 1px solid #111111;
  border-radius: 25px;
  z-index: 2;
  visibility: hidden;

}

.description {
  color: white;
  backdrop-filter: blur(8px) saturate(150%);
  width: 600px;
  margin: 5px auto;
  border-radius: 15px;
  padding: 3px 6px;
}


.post_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  text-align: left;
  backdrop-filter: blur(8px) saturate(110%);
  color: white;
  font-family: sans-serif;
  border-radius: 25px;
  padding: 3px 6px;
  margin: 4px;
  border: 3px solid lightcoral;
  cursor: pointer;
}

.post {
  margin-left: 5px;
  text-wrap: pretty;
}

.post::before{
  content: '\00201F'
}
.post::after{
  content: '\00201D'
}

.buttonX {
  background-color: dimgray;
  opacity: 0.6;
  backdrop-filter: blur(8px) ;
  border:none;
  border-radius: 50%;
  color: white;
  font-size: 13px;
  width: fit-content;
  margin-top: 0px;
  margin-right: 1px;
  margin-left: auto;
  cursor: pointer;

}



.buttonX:hover {
  color: gold;
  opacity: 0.8;

}

@keyframes rotate {
  0% {
    transform: rotateZ(0turn);
  }

  100% {
    transform: rotateZ(0.5turn);
  }
}

.id {
  height: 16px;
  width: auto;
  text-wrap: nowrap;
  font-size: small;
  background-color: lightgreen;
  color: grey;
  border-radius: 15px;
  padding: 2px 7px;
  letter-spacing: -1px;
  cursor: context-menu;
}

.forward,
.backward {
  height: 30px;
}

.forward,
.backward {
  background-color: slategrey;
  border: 5px double lightgreen;
  width: 120px;
  border-radius: 25px;
  font-size: medium;
  color: white;
  cursor: pointer;
}

.backward:hover,
.forward:hover {
  color: gold;
}



.forward:disabled,
.backward:disabled {
  color: dimgrey
}

.translate {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-variant-ligatures: common-ligatures;
  color: white;
  align-items: center;
  justify-content: center;
  border: dashed lightcoral;
  border-width: 3px 6px;
  border-radius: 40px;
  width: 400px;
  height: fit-content;
  padding: 2px 20px;
  text-wrap: balance;
  margin: 20px;
  backdrop-filter: blur(8px);
  color: white;
  font-size: larger;
}
.translate::before{
  content: '\0002DD'
}
.translate::after{
  content: '\0002DD'
}


.translate::first-letter {
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  background-color: dimgray;
  border: 8px solid;
  border-color: lightgreen lightcoral;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 20px;
  font-size: large;
  backdrop-filter: blur(8px);

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}