.App {
  padding: 20px;
  text-align: center;
  color: black;
  font-size: x-large;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.431), rgba(0, 255, 183, 0.427)),url("../public/wallpaper.png");
  background-repeat: repeat;
  overflow-x: hidden;
  min-height: 600px;
}

.lorem {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-variant-ligatures: common-ligatures;
  color: white;
  margin: auto;
  backdrop-filter: blur(8px) saturate(150%);
  width: 350px;
  border-radius: 15px;
  border: 5px inset transparent;
  letter-spacing: 2px;
}

.select {
  padding: 5px;
  background-color: lightseagreen;
  border-radius: 25px;
  color: white;
}

.id {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  text-align: left;
  backdrop-filter: blur(8px);
  color: white;
  font-family: sans-serif;
  border-radius: 25px;
  padding: 3px 6px;
  margin: 4px;
  border: 3px solid lightcoral;
  cursor: pointer;
}

.title {
  margin-left: 5px;
}

.title::first-letter {
  text-transform: uppercase;
}

.buttonX {
  align-self: flex-start;
  background-color: slategrey;
  color: white;
  font-size: 13px;
  width: fit-content;
  margin-top: 0px;
  margin-right: 1px;
  margin-left: auto;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.bold {
  height: 16px;
  font-size: small;
  border: 1px solid grey;
  background-color: lightgreen;
  color: grey;
  border-radius: 50%;
  padding: 2px 8px;
  text-align: left;
  letter-spacing: -1px;
}

.forward,
.backward,
.select {
  background-color: slategrey;
  border: 5px double lightgreen;
  width: 120px;
  border-radius: 25px;
  font-size: medium;
  color: white;
  cursor: pointer;
}


.backward:hover,
.forward:hover,
select:hover,
.buttonX:hover {
  color: gold;
}

select:focus {
  outline:none;
}

.forward:disabled,
.backward:disabled {
  color: dimgrey
}

.translate {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-variant-ligatures: common-ligatures;
  color: white;
  align-items: center;
  justify-content: center;
  border: dashed lightcoral;
  border-width: 3px 6px;
  border-radius: 40px;
  width: 400px;
  height: fit-content;
  padding: 2px 20px;
  text-wrap: balance;
  margin: 20px;
  backdrop-filter: blur(8px);
  color: white;
  font-size: larger;
}

.translate::first-letter {
  text-transform: uppercase;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  border: 8px solid whitesmoke;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 20px;
  font-size: medium;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}