.dot {
    position: relative;
    color: red;
    z-index: 10;
    text-shadow: 1px 1px solid black;
    font-size: small;
    cursor: context-menu;
    height: 10px;
    width: 10px;
    transition: ease-in-out 1.5s;

}

.map {
    position: relative;
    text-align: center;
    align-items: center;
    margin: 5px auto;
    font-size: 7.1em;
    width: 300px;
    height: auto;
    text-shadow: -1px 0 lightgreen, 0 1px indigo, 1px 0 lightgreen, 0 -1px lightgreen;
    color: lightskyblue;
    z-index: 0;
    backdrop-filter: blur(8px) saturate(150%);
    border: 3px solid lightgreen;
    border-radius: 150px;
    cursor: context-menu;
}


.en {
    bottom: 130px;
    left: 24%;
}

.he {
    bottom: 110px;
    left: 62%
}

.ja {
    bottom: 110px;
    left: 77%
}

.de {
    bottom: 135px;
    left: 49.5%
}

.ru {
    bottom: 135px;
    left: 60%
}

.uk {
    bottom: 120px;
    left: 54%
}
.fr{
    bottom: 120px;
    left: 48%
}